{
  "plugins": [
    "vue"
  ],
  "extends": [
    "elemefe"
  ],
  "rules": {
    "indent": [
      0,
      "4"
    ],
    "eol-last": 0,
    "no-new": 0,
    "semi": 0,
    "spaced-comment": 0
  }
}